# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/

# Data cache
*.pkl
data/cache/
data/raw/
data/bhavcopy/*.DAT
data/bhavcopy/*.csv
data/bhavcopy/*.zip
C:\tmp\
.tmp/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
